<!DOCTYPE html>
<html>

<head>
    {% block head %}    {% endblock %}

        <div id="nav-links" class="animation-up">
            <a href="" class="active">Teachers</a>
            <a href="">Students</a>
        </div>


    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/animations.css">


</head>

<body>

        {% block content%} {% endblock %}



{% block footer%} {% endblock%}

</body>
<!-- target="_blank" -->

</html>