@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
    --primary-color: #929D9E;
    --secondary-color: #f8ce42;
    --terciary-color: #f8ce42;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#nav-links {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh;
    background-color: white;
}

#nav-links a {
    font-weight: 100;
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-color);
    position: relative;
}

#nav-links a.active {
    font-weight: 600;
    color: var(--terciary-color);
}

#nav-links a+a {
    margin-left: 20vh;
}

#nav-links a:hover {
    color: var(--secondary-color);
}

#nav-links a::after {
    content: "";
    width: 0;
    height: 0.2vh;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

#nav-links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out 200ms;
}

body {
    margin: auto;
    height: 990px;
    background: linear-gradient(-30.0deg, #929D9E 20%, #7F8688 66%) no-repeat
}

.card {
    width: 800px;
    height: 400px;
    background-color: white;
    /*espacamento e alinhado ao centro*/
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*sombra*/
    box-shadow: 4px 4px 6px -2px black;
}

.avatar {
    width: 400px;
    height: 400px;
    background: url(https://source.unsplash.com/random/500x500) no-repeat center center / cover;
}