@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
:root {
    --primary-color: rgb(211, 211, 211);
    --secondary-color: rgb(184, 184, 184);
    --terciary-color: #D08692;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    background-color:var(--secondary-color);
}

nav {
    text-align: center;
    background-color:var(--primary-color);
    width: 100%;
    padding: 32px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 32px;
    font-size: 18px;
    color: rgb(255, 253, 253);
    font-weight: normal;
}

nav a:hover{
    color:var(--terciary-color)

}

nav a:nth-child(1){
    margin-left: 0;
}

.active{
    font-weight: bold;
}


.card{
    width: 1000px;
    min-height: 600px;
    background-color: white;
    margin: 32px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
    animation: comesDown 1s ease;
}

.avatar{
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: comesUp 1s ease;
    animation-delay: 2s;

}


@keyframes comesDown {
    from {
        opacity: 0;
        transform: translateY(-64px);

    }
    to {
        opacity: 1;
    }
}


@keyframes comesUp {
    from {
        opacity: 0;
        transform: translateY(32px);

    }
    to {
        opacity: 1;
    }
}



.details {
    padding: 16px;
}

.details .item{
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
    padding: 16px 0;
}

.details .item:last-child{
    border-bottom: none;
}

.details .item div:first-child, h3{
    color:rgba(128, 128, 128, 0.6);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
}

h3{
    font-weight: bold;
    color: var(--terciary-color);
    font-size: 16px;
}

.details .item div:nth-child(2){
    font-weight: 400;
    color: grey;
}


.details span{
    padding: 8px 12px;
    background-color: #6AA18B;
    color:whitesmoke;
    display: inline-block;
    margin: 2px 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}


/* Cards page */


.container{
    margin: 32px auto;
    width: 95%;
    min-height: 1000px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    padding: 8px 16px;
}
.little-card{
        width: 250px;
        height: 350px;
        margin: 8px;
        background-color: var(--secondary-color);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
        overflow: hidden;
        border-radius: 3px;
        position: relative;
        display: flex;
        flex-direction: column;
}

.card-avatar{
    width:100%;
}

.card-avatar img{
    width: 100%;
    
}

.card-details{
    width: 50%;
}

