                  <div class="item">
                        <div>Avatar URL</div>
                        <div>
                              <input 
                              type="url" 
                              name="avatar_url"
                              placeholder="https://"
                              value="{{student.avatar_url}}"
                              >
                        </div>
                  </div>

                  <div class="item">
                        <div>Nome</div>
                        <div>
                              <input 
                              type="text"
                              name="name"
                              placeholder="Nome do Estudante"
                              value="{{student.name}}"
                              >
                        </div>
                        
                  </div>

                  <div class="item">
                        <div>Email</div>
                        <div>
                              <input 
                              type="email"
                              name="email"
                              value=" {{student.email}}"
                              >
                        </div>
                        
                  </div>                  

                  <div class="item">
                        <div>Data de nascimento</div>
                        <div>
                              <input 
                              type="date" 
                              name="birth_date"
                              value= "{{student.birth_date}}"
                              >
                        </div>
                  </div>

                  <div class="item">
                        <div>Ano em que o estudante está matriculado</div>
                        <div>
                              <select name="school_year">
                                    <optgroup label="Ensino Fundamental">
                                    
                                          <option value="five" {% if student.school_year=="five" %}selected
                                          {% endif %}>Quinto Ano</option>
                                          <option value="six" {% if student.school_year=="six" %}selected
                                          {% endif %} selected>Sexto Ano</option>
                                          <option value="seven" {% if student.school_year=="seven" %}selected
                                          {% endif %} >Sétimo Ano</option>
                                          <option value="eight" {% if student.school_year=="eight" %}selected
                                          {% endif %} >Oitavo Ano</option>
                                          <option value="nine" {% if student.school_year=="nine" %}selected
                                          {% endif %} >Nono Ano</option>                                    
                                    </optgroup>
                                    <optgroup label="Ensino Médio">
                                          <option value="freshmen" {% if student.school_year=="freshmen" %}selected
                                          {% endif %}>1º Ano </option>
                                          <option value="junior" {% if student.school_year=="junior" %}selected
                                          {% endif %}>2º Ano</option>
                                          <option value="senior" {% if student.school_year=="senior" %}selected
                                          {% endif %}>3º Ano</option>                                    
                                    </optgroup>
                              </select>
                        </div>
                  </div>

                  <div class="item">
                        <div>Carga Horária de Estudos</div>
                              <div>
                                    <input 
                                    type="number" 
                                    name="study_hours"
                                    placeholder="Indique a quantidade de horas de aulas particulares que você quer ter por semana"
                                    value="{{student.study_hours}}">
                              </div>
                  </div>
                  

                  <button type="submit">Salvar</button>      
