{% extends "layout.njk"%}

{% block head %}

{% endblock head %}

{% block content %}
<div class="card table-container animation-slow-up">
      <a href="/students/create">Novo</a>
      <table width="100%">
        
        <thead>
            <tr>
                <th>Estudante</th>
                <th>Horas para estudar</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody> 
        
            {% for student in students %}
                <tr>
                    <td>
                        <span style="background-image:url({{student.avatar}})"></span>                        
                        {{student.name}}
                    </td>
                    <td>{{student.study_hours}}</td>
                    <td>{{student.email}}</td>
                    <td><a href="/students/{{student.id}}">Ver</a></td>
                </tr>
            {% endfor %}
            

        </tbody>

      </table>

</div>




{% endblock content %}


