            <div class="item">
                <div>Foto Principal</div>
                <input value="{{owner.avatar_url}}" type="url" name="avatar_url" placeholder="Informe o link de uma foto sua"></input>
            </div>
            <div class="item">
                <div>Nome</div>
                <input name="name" type="text"  placeholder="Informe seu nome" value="{{owner.name}}"></input>
            </div>
            <div class="item">
                <div>Você é:</div>
                    <input type="radio" name="sex" value="male" {% if owner.sex == 'male' %}
                    checked
                {% endif %}>
                    <label for="male">Homem</label>      
                    
                    <input type="radio" name="sex" value="female"{% if owner.sex == 'female' %}
                    checked
                {% endif %}>           
                    <label for="female">Mulher</label>                      
                
            </div>
           <div class="item">
                <div>Celular</div>
                <input value="{{owner.phone}}" name="phone" type="text" placeholder="Informe o seu número, podendo ser do whatsapp">                 
            </div>
            <div class="item">
                <div>Caracteristicas</div>
                <input value="{{owner.highlights}}" name="highlights" type="text" placeholder="Informe caracteristicas sobre você">                 
            </div>

            <button type="submit">Salvar</button>
            
