{% extends "layout.njk" %}

{% block content %}
    <div class="container">
        <div class="header">
            <a href="/owners/create">criar</a>
            <form action="/owners" method="GET">
                <input type="text" name="filter" placeholder="Busquer digitando.."> 
                <button type="submit">Buscar</button>
            </form>

        </div>
        {% for owner in owners %}
            <div class="little-card">
                <div class="card-avatar">
                    <img src="{{owner.avatar_url}}" alt="animal photo">
                </div>
                <div class="card-details">
                    <h2>{{owner.name}}</h2>
                    <small>Animais para adoção: {{owner.total_animals}}</small><br>
                    <a href="owners/{{owner.id}}">Ver mais</a>
                </div>
            </div>  
        {% endfor %}
    </div>
{% endblock %}

