<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <title>Get your doggy!</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        <header>
            <nav class="links">
                <a href="/dogs">Animais</a>
                <a href="/owners">Futuros Donos</a>
            </nav>
        </header>
        <div class="wrapped">
            {% block content%} {% endblock %}

        </div>


    {% block footer%} {% endblock%}

    </body>
    <script src="/public/scripts.js"></script>

<!-- target="_blank" -->
</html>