{% extends "layout.njk"%}

{% block head %}

{% endblock head %}

{% block content %}
      <form class="card animation-slow-up" method="POST" action="/teachers">
            <section 
                  class="avatar" style="background: url(https://source.unsplash.com/collection/4613144/500x500) no-repeat center center / cover;
">
            </section>

            <section class="details">
                  <h3>Novo Instrutor</h3>

                  <div class="item">
                        <div>Avatar URL</div>
                        <div>
                              <input 
                              type="url" 
                              name="avatar_url"
                              placeholder="https://">
                        </div>

                  <div class="item">
                        <div>Nome</div>
                        <div>
                              <input 
                              type="text"
                              name="name"
                              placeholder="Nome do professor"
                              >
                        </div>
                        
                  </div>

                  <div class="item">
                        <div>Data de nascimento</div>
                        <div>
                              <input 
                              type="date" 
                              name="birth"
                              >
                        </div>
                  </div>

                  <div class="item">
                        <div>Grau de Escolaridade</div>
                        <div>Superior</div>
                  </div>
                  <div class="item">
                        <div>Tipo de aula</div>
                        <div>
                              <span><input type="radio" name="classes_type" value="online" checked>À Distancia</span>
                              <span><input type="radio" name="classes_type" value="presential">Presencial</span>
                        </div>
                  </div>
                  <div class="item">
                        <div>Acompanhamento</div>
                              <div>
                                    <input type="text" 
                                    name="disciplines"
                                    >
                              </div>
                  </div>


                  <button type="submit">Salvar</button>                                      
            </section>
      
      </form>




{% endblock content %}


