
                  <div class="item">
                        <div>Avatar URL</div>
                        <div>
                              <input 
                              type="url" 
                              name="avatar_url"
                              placeholder="https://">
                        </div>

                  <div class="item">
                        <div>Nome</div>
                        <div>
                              <input 
                              type="text"
                              name="name"
                              placeholder="Nome do professor"
                              >
                        </div>
                        
                  </div>

                  <div class="item">
                        <div>Data de nascimento</div>
                        <div>
                              <input 
                              type="date" 
                              name="birth"
                              >
                        </div>
                  </div>

                  <div class="item">
                        <div>Grau de Escolaridade</div>
                        <div>
                              <select name="schooling">
                                    <option value="high_school">Ensino Médio</option>
                                    <option value="college_degree" selected>Ensino Superior</option>
                                    <option value="master_degree">Possui Mestrado</option>
                                    <option value="doctor_degree">Possui Doutorado</option>
                              </select>
                        </div>
                  </div>
                  <div class="item">
                        <div>Tipo de aula</div>
                        <div>
                              <span><input type="radio" name="classes_type" value="online" checked>À Distancia</span>
                              <span><input type="radio" name="classes_type" value="presential">Presencial</span>
                        </div>
                  </div>
                  <div class="item">
                        <div>Disciplinas Lecionadas</div>
                              <div>
                                    <input 
                                    type="text" 
                                    name="disciplines"
                                    placeholder="Digite as disciplinas lecionadas separadas por vírgula"
                                    >
                              </div>
                  </div>


                  <button type="submit">Salvar</button>                                      