{% extends "layout.njk"%}

{% block head %}

{% endblock head %}

{% block content %}
      <div class="card animation-slow-up">
            <section 
                  class="avatar" >
            </section>

            <section class="details">
                  <h3>Detalhes</h3>
                  <div class="item">
                        <div>Nome</div>
                        <div>Iza</div>
                        
                  </div>
                  <div class="item">
                        <div>Idade</div>
                        <div>27</div>
                  </div>
                  <div class="item">
                        <div>Grau de Escolaridade</div>
                        <div>Superior</div>
                  </div>
                  <div class="item">
                        <div>Tipo de aula</div>
                        <div>À Distancia</div>
                  </div>
                  <div class="item">
                        <div>Acompanhamento</div>
                              <div>
                                    <span>Matematica</span>
                                    <span>Física Quântica</span>
                              </div>
                  </div>
                  <div class="item">
                        <div>Desde</div>
                        <div>2017</div>
                  </div>                                                                        
            </section>
      
      </div>




{% endblock content %}


