{% extends "layout.njk"%}

{% block head %}

{% endblock head %}

{% block content %}
      <div id="front-page">
            <div class="container">
                  <p>ejkda</p>
            </div>

      </div>
{% endblock content %}


