{% extends "layout.njk" %}

{% block content %}
    <div class="container">
        <a href="/dogs/create">Criar</a>
        {% for dog in dogs %}
            <div class="little-card">
                <div class="card-avatar">
                    <img src="{{dog.avatar_url}}" alt="animal photo">
                </div>
                <div class="card-details">
                    <h2>{{dog.name}}</h2>
                    <small>{{dog.size}}</small><br>
                    <a href="dogs/{{dog.id}}">Ver mais</a>
                </div>
            </div>  
        {% endfor %}
    </div>
{% endblock %}

